{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <p> <a href="{{ path('ingredient.index') }}"> Retour</a></p>


{% if errors is not empty %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="example-wrapper">

{{ form_start(form) }}
    {{ form_row(form.nomIngredient) }}
    {{ form_end(form) }}
</div>
{% endblock %}
