{% extends 'base.html.twig' %}

{% block body %}
    <p>{{ nombreType }} {{ secteur }}</p>
<p> <a href="{{ path('type-repas.new')}}">Ajouter</a></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for types in type %}
            <tr>
                <td>{{ types.typeRepas }}</td>
                <td>
                    {% if types.statutTypeRepas %}
                        <span class="badge bg-success">Actif</span>
                        <a href="{{ path('type-repas.toggle_statut', { id: types.id }) }}" class="btn btn-danger btn-sm">
                            Désactiver
                        </a>
                    {% else %}
                        <span class="badge bg-danger">Pause</span>
                        <a href="{{ path('type-repas.toggle_statut', { id: types.id }) }}" class="btn btn-success btn-sm">
                            Activer
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('type-repas.show', { id: types.id }) }}" class="btn btn-primary btn-sm">Voir</a>
                    <a href="{{ path('type-repas.edit', { id: types.id }) }}" class="btn btn-secondary btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">Aucune categorie trouvée.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
